body {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 24px;
    background-color: white;
}

.sidebar {
    background-color: #002831;
   min-height: 100vh;
    padding-top: 30px;
    color: white;
}

.sidebar a {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    margin: 10px 0;
}

.sidebar a:hover {
    background-color: white;
    color: #002831;
}

.sidebar a.active {
    background-color: white;
    color: #002831;
    font-weight: 600;
}
 
.sidebar a.active i{
    color: #17C653;
}
.sidebar a:hover i{
    color: #17C653;
}

.sidebar i {
    font-size: 18px;
    margin-right: 15px;
    align-items: end;
}

.dashboard-header {
    background-color: #fff;
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}
.header-nav a.active{
    font-size: 14px;
    font-weight: 600;
    color: #333;
}
.header-nav a{
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #999;
}

.bell-icon {
    border-radius: 50%;
    margin-right: 10px;
    height: 33px;
    width: 33px;
    padding: 6px;
    border: 1px solid #99A1B75E;
}

.user-image {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    padding: 2px;
    border: 2px solid #99A1B75E;
}

.card {
    margin: 15px 0;
    min-height:200px;
    border: 1px solid rgb(0 0 0 / .05);
    border-radius: 15px;
    box-shadow: 0px 0px 2px rgba(196, 202, 218, 0.651);
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-value{
    column-gap:10px;
    align-items:center;
}

.card-title {
    font-size: 25px;
    font-weight: 600;
    margin: 0;
    color: #252F4A;

}
.card-tag p {
    font-size: 11px;
    font-weight: 600;
    margin: 0;
    align-content: center;
}
.card-tag .fas{
    font-size: 11px;
    font-weight: 600;
    align-content: center;
}
.card-tag {
    padding: 0px 10px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    column-gap: 3px;
    align-self: center;
}
.green-tag {
    background-color:#F0FDF4 ;
    color: #16A34A;
}
.red-tag{
    background-color: #FEF2F2;
    color: #DC2626;
}
.card-text{
    font-size: 14px;
    color:#78829D;
}
.visitor-text{
    font-size: 14px;
    font-weight: 600;
}
.visitor-img-first{
    width: 30px;
    height: 30px;
}
.visitor-img{
    width: 30px;
    height: 30px;
    margin-left: -15px;
}
.no-visitors{
    background-color: #F9F9F9;
    border-radius: 50%;
    color: #C4CADA;
    padding: 7px;
    font-size: 12px;
    margin-left: -15px;
}
.chart-container{
    border-top: 2px dotted #B6B6B6;
    max-height: 68px;
    overflow: hidden;
    margin-top: 2rem;
    padding: 0;
}
.create-offer-btn {
    background-color: #FFFFFF;
    border: 1px solid #E8E8ED;
    color: #17C653;
    width:fit-content ;
    border-radius: 6px;
    padding: 3px 15px;
    font-size: 14px;
    font-weight: 600;
}
.create-offer-btn:hover{
    background-color: #f8f8f8;
    border: 1px solid #E8E8ED;
    color: #17C653;
} 

.activity{
    min-height: 440px;
}

.table {
    margin-bottom: 0;
}

.table thead tr{
    font-size: 14px;
    color: #979DAE;
    background-color: #F9FAFB;
}
.table thead th{
    border: none;
    background-color: #F9FAFB;

}
.table thead th:first-child{
    border-radius: 10px 0px 0px 10px;
}
.table thead th:last-child{
    border-radius: 0px 10px 10px 0px;
}

.table tbody td {
    border-top: none;
}

.table tbody tr {
    border-bottom: 1px solid #E5E7EB;
}

.table tbody tr:last-child {
    border-bottom: none;
}

.text-muted {
    color: #979DAE !important;
    font-size: 13px;
}

.btn-sm {
    padding: 4px 12px;
}

.btn-success {
    background-color: #F0FDF4;
    color: #16A34A;
    border-color: #F0FDF4;
    font-size: 14px;
    font-weight: 600;
    width: 90px;
}

.btn-success:hover {
    background-color: #F0FDF4;
    color: #16A34A;
    border-color: #F0FDF4;
}

.btn-info {
    background-color: #EFF6FF;
    color: #2563EB;
    border-color: #EFF6FF;
    font-weight: 600;
    width: 90px;
}
.btn-info:hover {
    background-color: #EFF6FF;
    color: #2563EB;
    border-color: #EFF6FF;
}


.btn-primary {
    background-color: #EFF6FF;
    color: #2563EB;
    border-color: #EFF6FF;
}

.btn-secondary {
    background-color: #E5E7EB;
    color: #6B7280;
    border-color: #E5E7EB;
}

img.rounded-circle {
    width: 40px;
    height: 40px;
}
.dropdown-toggle{
    border: 1px solid #DDDDDD;
    color: #979DAE;
    font-size: 14px;
}

.card-header{
    background-color: #EFF6FFE3;
    border: none;
    padding: 20px 0;
}
.card-header h4{
    font-weight: 600;
}
.card-header:first-child{
    border-radius: 15px;
}
.reviews-section {
   min-height: 440px;
}

.star-rating-top {
    font-size: 35px;
    color: #ffc107; /* Gold color for the stars */
}

.text-muted {
    color: #6B7280 !important;
}

.font-weight-bold {
    font-weight: 600;
}

.review-item {
    border: 1px solid #E2E8F0;
    padding: 3px 10px;
    border-radius: 8px;
}
.review-item p{
    font-size: 14px;
    text-align: left;
}
.review-item small{
    font-size: 12px;
    text-align: left;
    line-height: 1.5;
}
.review-item img {
    width: 35px;
    height: 35px;
}
.star-rating {
    font-size: 15px;
    color: #ffc107; /* Gold color for the stars */
}





/* Manage Listing Page */



.listing-table {
    background-color: white;
}

.listing-table th, .listing-table td {
    vertical-align: middle;
}

.listing-table thead th {
   border-bottom: 2px dotted #E5E7EB;
    font-weight: 600;
    color: #78829D;
    background-color: white;
}
.listing-table tbody td img{
    width: 35px;
    height: 35px;
}

.listing-star-rating {
    color: #ffc107;
}

.listing-actions-btn {
    background-color: #F9FAFB;
    border-color: #E5E7EB;
    color: #212529;
}

.listing-create-btn:hover {
    background-color: #22C55E;
    color: white;
    border-radius: 6px;
    font-size: 15px;
}
.listing-create-btn{
    background-color: #22C55E;
    color: white;
    border-radius: 6px;
    font-size: 15px;
}

.listing-pagination {
    justify-content: center;
    font-size: 10px;
}

.listing-pagination .page-item {
    border-radius: 20px;
    border-color: #E5E7EB;
}
.page-item.active .page-link {
    background-color: #17C653;
    border-color: #17C653;
    border-radius: 6px;
    margin: 0 5px;
}
.page-link .fa{
    color: #CCCCCC;
}
.page-link:hover .fa{
    color: white;
}
.form-control{
    border-radius: 20px;
    font-size: 14px;
    color: #747782;
    padding: 5px 20px;
    height: calc(2em + .5rem + 5px);
    border: 1px solid #E5E4E4;
}
.search-input{
    background-color: #F9F9F9;
    color: #99A1B7;
    text-align: left;
}
select{
    -webkit-appearance: none;
 }
 select + i.fa {
    float: right;
    margin-top: -25px;
    margin-right: 15px;
    background-color: transparent;
    color:#747782;
    font-size: 12px;
}
.custom-arrow{
    width: 200px;
}




/* Leads page */


.search-input + i.fa {
    float: right;
    margin-top: -25px;
    margin-right: 15px;
    background-color: transparent;
    color:#747782;
    font-size: 13px;
}

.lead-export-btn{
    background-color: #EDFBF2;
    color: #0DB446;
    border-radius: 9px;
    font-size: 15px;
}
.lead-export-btn:hover {
    background-color: #EDFBF2;
    color: #0DB446;
    border-radius: 9px;
    font-size: 15px;
}
.lead-details-btn{
    border: none;
    color: #252F4A;
    background-color: #F6F6F7;
    font-weight: 600;
}
.page-link{
    color: #333333;
    margin: 0 4px;   
    border-radius: 6px;
    font-size: 12px;
}
.page-link:hover{
    background-color: #17C653;
    border-color: #17C653;
    color: white;
   
}



/* Analytics page */

.icon-analytics{
    width: 40px;
    height: 40px;
}


.card-tag-analytics {
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    column-gap: 3px;
    width: fit-content;
    padding: 5px 8px;
}
.card-tag-analytics p {
    font-size: 11px;
    font-weight: 600;
    margin: 0;
    align-content: center;
}
.card-tag-analytics .fas{
    font-size: 11px;
    font-weight: 600;
    align-content: center;
}
.analytics-chart-container{
    height: 300px;
}
.analytics-chart-graph{
    min-height: 430px;
}
.legend-container {
    display: flex;
    gap: 15px;
    margin-bottom: 1rem;
}
.legend-dot {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 5px;
}
.legend-text {
    display: flex;
    align-items:center;
    font-size: 12px;
    color: #78829D;
}
.legend-returning {
    background-color: #00B74A;
}
.legend-new {
    background-color: #007BFF;
}
.green-tag:hover {
    background-color:#F0FDF4 ;
    color: #16A34A;
}
.red-tag:hover{
    background-color: #FEF2F2;
    color: #DC2626;
}
.actions-btn:hover{
    background-color: #E6F0FD;
    color: #1D81F9;
}
.actions-btn:target{
    background-color: #E6F0FD;
    color: #1D81F9;
}
.actions-btn-menu {
   
}
.dropdown-item{
    font-size: 13px;
}
.dropdown-item:hover{
    background-color: #E6F0FD;
    color: #1D81F9;
}

.page-link:focus {
    box-shadow: none;
}

.form-control:focus {
    box-shadow: none;
   
}
.btn:focus{
    box-shadow:none;
}

